name: tankste
description: Finde die günstigste Tankstelle in deiner Nähe!
publish_to: 'none'

version: 2.1.0+32

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.7.12 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  core:
    path: '../core'

  map:
    path: '../map'

  station:
    path: '../station'

  navigation:
    path: '../navigation'

  settings:
    path: '../settings'

  # BLoC - https://pub.dev/packages/flutter_bloc
  flutter_bloc: ^9.1.1

  # Easy Localization - https://pub.dev/packages/easy_localization
  easy_localization: ^3.0.8

  # Easy Localization Asset Loader - https://pub.dev/packages/easy_localization_loader
  easy_localization_loader: ^2.0.2

dev_dependencies:
  flutter_lints: ^6.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/images/markers/
    - assets/google_maps/styles/
    - assets/translations/
    - config.json

